<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} %-5level 
%logger{36} %class{36} %L %M %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="Controller_Principal" level="TRACE" />

        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>

        <Logger name="principal" level="TRACE" />
        <Logger name="dao_tarefas" level="TRACE" />
        <Logger name="mig_17" level="TRACE" />
        <Logger name="nova_tarefa" level="TRACE" />
        <Logger name="painel_tabela" level="TRACE" />
        <Logger name="funcoes" level="TRACE" />
        <Logger name="log_modelo" level="TRACE" />
           
        <Logger name="saida_para_arquivo" level="TRACE" additivity="false">
            <AppenderRef ref="arquivo" />
        </Logger>
        
    </Loggers>

</Configuration>